
.footer {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002642;
    position:fixed;
    margin-bottom: 0%;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 10%;
  }

  .footer p {
    color: #ccc;
  }