.card {
    background-color: rgb(223, 215, 215);
    /* width: 50em; */
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin:5% 20% 5% 20%;
    /* margin-top: 1%; */
    padding:3em;
    text-align: center;
  }

.card h2 {
  font-size: 2.5em;
}

.card img {
  
  font-size: 2.5em;
  margin: 0.5em;
}

.card p {
  
  font-size: 2.5em;
}

